@font-face {
    font-family: CallOfDuty;
    src: url(./public/fonts/Call\ of\ Ops\ Duty.otf);
    font-display: block;
  }





*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    place-items: center;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}

.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    
    object-fit: cover;
    width: 100vw;
    
    
}

.wall{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 0% 20%;
    
    
}
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1000px){ 
    .wall{
        padding: 0%;
    }
}