.cromo{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 10px;
    border: solid 4px rgb(0, 0, 0) ;
    justify-content: center;
    background-color: #6b7772;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");

    
}
.cromoImg{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    border: solid 4px rgb(255, 5, 5) ;
}

.cromoImg img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.cromo p{
    padding: 0%;
    margin: 0;
    width: 100%;
    color: #000000;
    font-weight: bold;
    -webkit-text-stroke: 0.10px rgb(43, 180, 63); 
    font-family: CallOfDuty;
}

.cromo button{
    width: 80%;
}

