nav{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; 
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.searchOperador{

    width: 100%;
}
.searchOperador > button{
    width: 50px ;
    height: 30px;
}

input[type=search]  {
    width: 240px;
    height: 40px;
    border-color: rgb(0, 255, 12);
    border-radius: 20%;
    text-align: center;
    font-family: CallOfDuty;
    color: black;
    -webkit-text-stroke: 0.01px rgb(0, 255, 12);  
    }

ul > li {
    padding-top: 1rem;
}

ul > li > a{
    display: flex;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    -webkit-text-stroke: 0.01px rgb(0, 255, 12);  
    font-family: CallOfDuty;
    color: black;
}

img{
    width: 100px;
}
 
input[type=checkbox]  {
    display: none;
    }



@media screen and (max-width: 1000px){ 
    
    header{
        padding: 0%; 
        align-items: center;
        padding: 0rem 0.5rem;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        align-items: center;   
    }
    
    ul{
    display: none;
    }
    
    input:checked  ~ ul{
    display:flex;
    flex-wrap: wrap;
    }
    
    input[type=checkbox]  {
    display: none;
    }
    
    label {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    width: 65px;
    text-align: center;
    align-items: center;
    }

    ul > li > a {
        -webkit-text-stroke: 0.5px rgb(0, 255, 12);  
    }
    
}









